DATABASE_URL=
DATASOURCE_DB=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

BLOB_READ_WRITE_TOKEN=""
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"
JWT_EXPIRATION="7d"

EMAIL_USER=""
EMAIL_PASS=""
EMAIL_HOST=""
EMAIL_PORT=

HOST=""
FRONTEND_HOST=""

REDIS_URL="redis://localhost:6379"
RSA_PRIVATE_KEY=""
RSA_PRIVATE_KEY_PATH="private.pem"
ENCRYPTED_BODY_TTL_SECONDS=60

